*.class
*.log
.DS_Store
*.swp

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.ivy2
catapult/

# vim specific
*~
tags
